<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div style="margin-bottom: 20px;">
    <a href="{% url 'store:product-list' %}" style="text-decoration: none; color: #555; font-weight: bold;">
        &larr; Back to Home
    </a>
</div>

    <h2>Login</h2>

    {% if messages %}
        {% for message in messages %}
            <div style="color: red;">{{ messages }}</div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="{% url 'store:register' %}">Register here</a></p>
</body>
</html>