<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Games<</title>
</head>

<nav style="padding: 15px; background-color: #171a21; color: white; margin-bottom: 20px; font-family: sans-serif;">

    <span style="font-size: 20px; font-weight: bold; margin-right: 20px;">PYCRIB</span>

    <div style="float: right;">
        {% if user.is_authenticated %}
            <span style="color: #c7d5e0;">Welcome, {{ user.username }}</span>

            <a href="#" style="margin-left: 15px; background-color: #5c7e10; color: white; padding: 5px 10px; text-decoration: none; font-weight: bold;">
                Cart ({{ cart_count }})
            </a>

            <a href="{% url 'store:logout' %}" style="margin-left: 15px; color: #b8b6b4; text-decoration: none;">Logout</a>
        {% else %}
            <a href="{% url 'store:login' %}" style="color: white; margin-right: 10px;">Login</a>
            <a href="{% url 'store:register' %}" style="color: white;">Register</a>
        {% endif %}
    </div>
    <div style="clear: both;"></div>
</nav>
{% if messages %}
    <div style="padding: 10px; background-color: #d4edda; color: #155724; margin-bottom: 20px;">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}


<form method="GET" action="" style="margin-bottom: 20px;">
    <input type="text" name="q" placeholder="Search for games..." value="{{ query|default:'' }}">
    <button type="submit">Search</button>
</form>


<h1>Welcome to our Store!</h1>
<h2>Here are our products:</h2>

<body>

    <div>
        {% for product in products %}
            <div>
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <p><strong>Price: ₱{{ product.price }}</strong></p>

                <a href="{% url 'store:add_to_cart' product.id %}" style="background-color:#28a745; color: white; padding: 5px 10px; text-decoration: none; border-radius: 5px;">
                    Add to Cart
                </a>
            </div>
            <hr>
        {% endfor %}
    </div>
</body>
</html>